/** COMMON START**/
:root{
     --color-primary:#f2f4fa;
     --color-secondary:#00d9ff;
     --color-accent: #1fad80;
     --color-border: #93acce;
     

     --bg-color-dark: #172637;
     --bg-color-code: #2f4b64;
}

html{
     font-family: 'Open Sans', sans-serif;
     background-color: var(--bg-color-dark);
     color: var(--color-primary);

     overflow-x: hidden;
}
body{
     font-size: .9rem;
     font-weight: 300;

/*  -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;*/
}

#wrapper{
     min-height: 100vh;

     position: relative;
     padding-top: 4rem;
     margin:0 auto;
     
}
/**COMMON END**/






#main-doc{
     padding-top:3rem ;
     width: 100%;
     margin-left: 0;
     margin-right: 0;
     max-width: 900px;
}



#main-section-container{
     padding: 0 1rem;
}